:root {
  --column-width: 40vw;
  --animation-speed: 200ms;
  --animation: var(--animation-speed) cubic-bezier(0,0,0,1.5);
}
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  user-select: none;
}

#settings {
  position: relative;
  background-color: #2b394f;
  margin: 0;
  padding: 10px;
}
input[type="text"]
{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}
.custom-input {
  position: relative;
}
.custom-input input {
  border: none;
  appearance: none;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  outline: none;
}
.placeholder {
  position: absolute;
  color: white;
  background-color: #555;
  top: -5px;
  left: 10px;
  padding: 5px;
  border-radius: 8px;
  transform-origin: top;
  box-shadow: 0 2px 5px 0 black;
  transition:
    transform var(--animation),
    background-color var(--animation);
}
.custom-input input:valid + .placeholder,
.custom-input input:focus + .placeholder {
  transform: perspective(40px) rotateX(45deg) translateY(-25px) translateX(-3px) translateZ(-5px);
  font-size: 20px;
  background-color: #777;
  box-shadow: 0 2px 5px -2px black;
}



#column_container {
  display: flex;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
}
.column {
  width: var(--column-width);
  margin: .5vw;
}

.card {
  position: relative;
  display: block;
  width: 100%;
  margin: 1vw;
  transition: transform var(--animation);
  box-shadow: 0 10px 30px 0 black;
}
.card:hover {
  transform: translateZ(15px) perspective(250px) rotateX(2deg);
  z-index: 99;
}
.card.long:hover {
  transform: translateZ(15px) perspective(2000px) rotateX(1.5deg);
}
.card.longer:hover {
  transform: translateZ(15px) perspective(2800px) rotateX(0.1deg);
}

.content {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: #090913;
  box-shadow: 0px 0px 15px 0px black;
}
.content:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(255,255,255,0.1) 0, rgba(255,255,255,0) 20px);
  filter: blur(1px);
  transform: scale(10) rotate(45deg) translateY(-55%);
  transition: transform var(--animation);
}
.card:hover .content:before {
  transform: scale(10) rotate(45deg) translateY(-52%);
}
.preview {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}
.art {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infobox {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transition: all var(--animation);
}
.card:hover .infobox {
  bottom: -19px;
  opacity: 1;
}
.textinfo {
  position: relative;
  background-color: white;
  background-position: 1px 8px;
  background-size: 18px;
  background-repeat: no-repeat;
  display: inline;
  margin: 2px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  border-radius: 8px;
}
.link {
  background-image: url('out.svg');
  padding-left: 15px;
}
.artist {
  background-image: url('artist.svg');
  padding-left: 15px;
}
.tag {
  background-image: url('tag.svg');
  padding-left: 15px;
}

.dropdown > * {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--column-width);
  text-align: right;
  opacity: 0;
  transition:
    top var(--animation),
    opacity var(--animation),
    pointer-events var(--animation-speed) step-end 500ms;

}
.artist > * { right: -24px; }
.dropdown:hover * {
  pointer-events: auto;
  opacity: 1;
  top: 100%;
}
.floatinfo {
  display: inline-block;
  margin: 2px;
  color: black;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 1px;
  border-color: red;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: navy;
}
