
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  user-select: none;
  overflow-x: hidden;
}
@keyframes loading-pulse {
  0%   { background-color: #090913; }
  50%  { background-color: #121226; }
  100% { background-color: #090913; }
}


#search-button {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  z-index: 10;
  transition: left 300ms;
}
#search-button:checked {
  left: 320px;
}
#search {
  position: fixed;
  top: 0;
  left: -320px;
  width: 300px;
  padding: 10px;
  background-color: gray;
  z-index: 10;
  transition: left 300ms;
}
#search-button:checked ~ #search {
  left: 0;
}
#search label {
  display: block;
  position: relative;
}
input[type="search"] {
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  border: none;
  appearance: none;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  outline: none;
}
input[type="search"] + span {
  display: block;
  position: absolute;
  bottom: 12px;
  left: 10px;
  pointer-events: none;
  z-index: 2;
  color: gray;
}
input[type="search"]:valid + span,
input[type="search"]:focus + span {
  display: none;
}

#settings-button {
  position: fixed;
  top: 35px;
  left: 0px;
  width: 25px;
  height: 25px;
  z-index: 10;
  transition: left 300ms;
}
#settings-button:checked {
  left: 320px;
}
#settings {
  position: fixed;
  top: 40px;
  left: -320px;
  width: 300px;
  padding: 10px;
  background-color: gray;
  z-index: 10;
  transition: left 300ms;
}
#settings-button:checked ~ #settings {
  left: 0;
}
#settings label {
  display: block;
}




#column_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: .5vw;
  margin-right: .5vw;
  gap: .4vw;
}
.column {
  flex-basis: auto;
  width: 100%;
}
.card {
  position: relative;
  display: block;
  width: 100%;
  margin: .4vw;
  border-radius: 4px;
  overflow: hidden;
  background-color: #090913;
  animation-name: loading-pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.art {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.art * {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb  {
  display: none;
}

#overlay {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
#overlay .art {
  width: auto;
  object-fit: contain;
}
#overlay button {
  position: absolute;
  z-index: 5;
  right: 10px;
}
#close { top: 10px; }
#follow { top: 30px; }
#next { top: 50px; }
#auto { top: 90px; }
#taglist {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  overflow-y: scroll;
  max-height: 100%;
}
.tag {
  display: table;
  margin-bottom: 4px;
  background: black;
  padding: 4px;
  padding-right: 8px;
  border-radius: 8px;
}
abbr {
  display: inline-block;
  width: 13px;
  margin-right: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}
.add {
  background: darkgreen;
  cursor: pointer;
}
.remove {
  background: darkred;
  cursor: pointer;
}
